    body {
      font-family: 'Poppins', sans-serif;
      background-color: #F7F4EE;
      margin: 0;
      padding: 0;
    }

    a {
      text-decoration: none;
    }

    /* a:hover {
    text-decoration: none;
        } */
    li {
      list-style-type: none;
    }


    .s_index_columnBlueBtn:hover {
      background-color: #89A7C2;
      color: #ffffff;
      border: 0;
    }

    .s_index_column_index_dogArea {
      display: flex;
      justify-content: center;
    }



    @media (min-width:300px) {
      /* .s_index_subtitle {
        color: #89A7C2;
        text-align: center;
      }

      .s_index_subtitleCh::before {
        content: '';
        width: 50px;
        height: 2px;
        background: #89A7C2;
        position: absolute;
        top: 50%;
        left: 50px;
      }

      .s_index_subtitleCh {
        font-size: 24px;
        position: relative;
      }

      .s_index_subtitleEn {
        text-indent: 105px;
        font-size: 12px;
        position: relative;
      } */

      /* .s_index_subtitleEn::after {
        content: '';
        width: 50px;
        height: 2px;
        background: #89A7C2;
        position: absolute;
        top: 50%;
        right: 30px;
      } */

      .s_index_MonthlyEvents_choiceArea_PC {
        display: none;
      }

      .s_index_MonthlyEvents_choiceArea_ph {
        width: 360px;
        margin: 80px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

      }

      .s_index_choiceArea_ph {
        margin: 15px 10px;
      }

      .s_index_higher {
        margin-top: -40px;
      }

      .s_index_lower {
        margin-top: 70px;
      }

      .s_index_choiceAreaImg_ph {
        /* height:155px; */
        width: 155px;
        border-radius: 10px 10px 0 0;
        margin: 0;
      }

      .s_index_choice_ph {
        font-size: 14px;
        color: #707070;
        background-color: #F9DD83;
        border-radius: 0 0 10px 10px;
        height: 50px;
        width: 139px;
        padding: 10px 8px 0;
        margin: -10px 0;
      }

/*-----------專欄------------*/

      .s_index_columnBtnGroup {
        text-align: center;
        /* margin: 35px 0 90px; */
      }

      .s_index_columnBlueBtn {
        height: 35px;
        width: 135px;
        border: 0;
        background-color: #ffffff;
        color: #89A7C2;
        border-radius: 43px;
        font-size: 14px;
      }

      .s_index_column_index_dogArea {
        flex-direction: column;
        margin: 0 0 195px;
      }

      .s_index_column_index_dog {
        margin: 48px auto 0;
      }

      .s_index_column_index_dog_img {
        width: 300px;
        border-radius: 20px;
      }

      .s_index_column_index_dog_para {
        width: 300px;
        margin: 10px auto;
        color: #707070;
        font-size: 14px;
      }

/* ------------捐贈--------- */
      .s_index_donation_imgIntro {
        display: flex;
        flex-direction: column;
      }

      .s_index_donation_img {
        width: 100%;
        /* height: auto; */
        /* height: 240px; */
        /* width:100%;  */
      }

      .s_index_donation_Intro {
        /* width: 375px; */
        max-width: 100%;
        height: auto;
        background-color: #70707093;
        color: #F7F4EE;
      }

      .s_index_donation_IntroAll {
        display: flex;
        flex-direction: row;
      }

      .s_index_donation_Intro_title {
        font-size: 35px;
        margin: 15px 0 0 20px;
      }

      .s_index_donation_Intro_para {
        width:250px;
        font-size: 16px;
        /* margin: 20px 0 0 24px; */
        margin: 20px auto;
      }

      .s_index_donation_Intro_btn_PC {
        display: none;
      }

      .s_index_donation_Intro_btn_ph {
        display: inline-block;
        width: 142px;
        height: 35px;
        border-radius: 17px;
        background-color: #ffffff;
        font-size: 16px;
        border: 0;
        color: #707070;
        margin: 10px 0 26px 130px;
      }
    }

    @media (min-width: 500px) {

      /*---------標題 ----------*/
      .s_index_subtitle {
        color: #89A7C2;
        /* text-align:right; */
        display: flex;
        /* display: inline-flex;    */
        flex-direction: column; 
        align-items: center;
        /* justify-content: flex-end; */
      }
.s_index_subtitleChLeftLine{
        width: 80px;
        height: 3px;
        background: #89A7C2;
        display: inline-block;
        vertical-align: middle;
        margin-right:10px ;

}
.s_index_subtitleChRightLine{
        width: 80px;
        height: 3px;
        background: #89A7C2;
        display: inline-block;
        vertical-align: middle;
        margin-left:10px ;

}
      /* .s_index_subtitleCh::before {
        content: '';
        width: 80px;
        height: 3px;
        background: #89A7C2;
        position: absolute;
        top: 50%;
margin-left:660px ;
        left: 630px;
      }  */

      .s_index_subtitleCh {
        font-size: 50px;      
        /* position: relative; */
      }

      .s_index_subtitleEn {
        /* text-indent: 200px; */
        font-size: 26px;
        margin-left: 19%;          
        /* position: relative; */
      }

      /* .s_index_subtitleEn::after {
        content: '';
        width: 80px;
        height: 3px;
        background: #89A7C2;
        position: absolute;
        top: 50%;
        margin-right: 37%;
        margin-right: 680px;
        right: 550px;
      } */
/*----------- 標題結尾---------- */

/* -------------主打活動---------- */
      .s_index_MonthlyEvents_choiceArea_ph {
        display: none;
      }

      .s_index_MonthlyEvents_choiceArea_PC {
        display: block;
      }

      .s_index_choiceAreaImg_PC {
        height: 600px;
        /* width: 1024px; */
        padding: 100px 0;
        position: relative;
        display: flex;
      }

      .s_index_choiceArea_choice_PC {
        margin: 240px 0 0;
        position: absolute;
        right: 200px;
        top: 180px;
      }

      .s_index_choice_PC:hover {
        background-color: #89A7C2;
      }

      .s_index_choice_PC {
        font-size: 22px;
        line-height: 75px;
        color: #707070;
        text-indent: 60px;
        background-color: #F9DD83;
        border-radius: 36px;
        height:75px;
        width: 600px;
        z-index: 10;
        margin: 16px 0;
      }
/*-----------每月主打介紹--------*/
.s_index_MonthlyEvents_intro{
margin: 0 auto;

}
.s_index_MonthlyEvents_intro_row{
display:flex;
color:#89A7C2 ;
}
.s_index_MonthlyEvents_introLeft{
  display: flex;
  flex-direction: column;
  
}
.s_index_MonthlyEvents_intro_miniTitle{
  font-size: 22px;
 
}
.s_index_MonthlyEvents_intro__ColumnPara{
  font-size: 16px;
  width: 500px;  
}
.s_index_MonthlyEvents_introRight{
m}



/* ---------------專欄-------------- */
      .s_index_columnBtnGroup {
        text-align: center;
        margin: 75px 0 115px;
      }

      .s_index_columnBlueBtn {
        height: 50px;
        width: 250px;
        border: 0;
        background-color: #ffffff;
        color: #89A7C2;
        border-radius: 36px;
        font-size: 30px;
        margin: 0 15px;
      }

      .s_index_column_index_dogArea {
        flex-direction: row;
      }

      .s_index_column_index_dog {
        margin: 0 20px;
      }

      .s_index_column_index_dog_img {
        width: 400px;
        border-radius: 60px;
      }

      .s_index_column_index_dog_para {
        /* width: 380px; */
        /* margin: 35px auto 300px; */
        color: #707070;
        font-size: 16px;
      }

/* ---------------捐贈----------------- */
.s_index_donation_imgIntro{
  /* margin: 0 auto; */
  /* border: 1px red solid; */
  width: 100%;
  /* position: absolute; */
}      
.s_index_donation_img {
        /* height: 600px; */
        width: 1500px;
        margin: 0 auto;
        /* position: absolute; */
        /* background-attachment: fixed; */
      }

      .s_index_donation_Intro {
        width: 500px;
        height: 350px;
        background-color: #70707093;
        position: relative;
        border-radius: 40px;
        top: -600px;
        left: 250px;
        color: #F7F4EE;
      }
      .s_index_donation_IntroAll {
        display:block;
      }
      .s_index_donation_Intro_title {
        font-size: 45px;
        margin: 30px 0 10px 45px;
      }

      .s_index_donation_Intro_para {
        width: 400px;
        margin: 0 auto;
        font-size: 16px;
      }

      .s_index_donation_Intro_btn_PC {
        display: inline-block;
        width: 151px;
        height: 34px;
        border-radius: 17px;
        background-color: #ffffff;
        font-size: 16px;
        margin: 30px 0 0 300px;
        border: 0;
      }

      .s_index_donation_Intro_btn_ph {
        display: none;
      }

    }
 