    /* body {
      font-family: 'Poppins', 'Noto Sans TC', sans-serif;
      background-color: #F7F4EE;    
    } */

    a {
      text-decoration: none;
    }
    a:hover {
    text-decoration: none;
        }
    li {
      list-style-type: none;
    }


    .s_index_columnBlueBtn:hover {
      background-color: var(--mainblue);
      color: #ffffff;
      border: 0;
    }

    .s_index_column_index_dogArea {
      display: flex;
      justify-content: center;
    }
 

    @media (min-width: 500px) {
/* -------------主打活動---------- */
.s_index_MonthlyEvents{
  margin: 300px auto;
}
      .s_index_MonthlyEvents_choiceArea_ph {
        display: none;
      }

      .s_index_MonthlyEvents_choiceArea_PC {
        display: block;
      }

      .s_index_choiceAreaImg_PC {
        height: 600px;
        /* width: 1024px; */
        padding: 100px 0;
        /* position: relative; */
        position: absolute;
        display: flex;
      }

      .s_index_choiceArea_choice_PC {
        margin: 240px 0 0;
        position: relative;
        /* position: absolute; */       
        right: 200px;
        top: 180px;
      }

      .s_index_choice_PC:hover {
        background-color: var(--mainblue);
      }

      .s_index_choice_PC {
        font-size: 22px;
        line-height: 75px;
        color: var(--maindarkgray);
        text-indent: 60px;
        background-color:var(--mainyellow);
        border-radius: 36px;
        height:75px;
        width: 600px;
        z-index: 10;
        margin: 16px 0;
      }
/*-----------每月主打介紹--------*/
.s_index_MonthlyEvents_intro{
margin: 0 auto;

}
.s_index_MonthlyEvents_intro_row{
display:flex;
color:var(--mainblue) ;
}
.s_index_MonthlyEvents_introLeft{
  display: flex;
  flex-direction: column;  
}
.s_index_MonthlyEvents_intro_miniTitle{
  font-size: 22px; 
}
.s_index_MonthlyEvents_intro__ColumnPara{
  font-size: 16px;
  width: 500px;  
}
/* .s_index_MonthlyEvents_introRight{
} */

/* ---------------專欄-------------- */
      .s_index_columnBtnGroup {
        text-align: center;
        margin: 75px 0 115px;
      }

      .s_index_columnBlueBtn {
        height: 50px;
        width: 250px;
        border: 0;
        background-color: #ffffff;
        color: var(--mainblue);
        border-radius: 36px;
        font-size: 30px;
        margin: 0 15px;
      }

      .s_index_column_index_dogArea {
        flex-direction: row;
      }

      .s_index_column_index_dog {
        margin: 0 20px;
      }

      .s_index_column_index_dog_img {
        width: 400px;
        border-radius: 60px;
      }

      .s_index_column_index_dog_para {
        /* width: 380px; */
        /* margin: 35px auto 300px; */
        color: var(--maindarkgray);
        font-size: 16px;
      }

/* ---------------捐贈----------------- */
.s_index_donation_imgIntro{
  /* margin: 0 auto; */
  /* border: 1px red solid; */
  width: 100%;
  /* position: absolute; */
}      
.s_index_donation_img {
        /* height: 600px; */
        width: 1500px;
        margin: 0 auto;
        /* position: absolute; */
        /* background-attachment: fixed; */
      }

      .s_index_donation_Intro {
        width: 500px;
        height: 350px;
        background-color:#70707093;
        position: relative;
        border-radius: 40px;
        top: -600px;
        left: 250px;
        color: #F7F4EE;
      }
      .s_index_donation_IntroAll {
        display:block;
      }
      .s_index_donation_Intro_title {
        font-size: 45px;
        margin: 30px 0 10px 45px;
      }

      .s_index_donation_Intro_para {
        width: 400px;
        margin: 0 auto;
        font-size: 16px;
      }

      .s_index_donation_Intro_btn_PC {
        display: inline-block;
        width: 151px;
        height: 34px;
        border-radius: 17px;
        background-color: #ffffff;
        font-size: 16px;
        margin: 30px 0 0 300px;
        border: 0;
      }

      .s_index_donation_Intro_btn_ph {
        display: none;
      }

    }
 