/* *{
   outline: solid 1px  rgb(247, 95, 40);
} */
@media (min-width:300px) {
     /*-------標題----------*/
      .s_index_subtitle_PC {
        display: none;
      }
      .s_index_subtitle_ph{
        display: block;
      margin: 50px auto;
      width: 260px;  
      }
      /*--------------影片區----------*/
      .s_index_videoSection{
        display: none;
      }
      /*-----------本月主打----------*/
       .s_index_MonthlyEvents{
        margin: 200px auto;
        width: 360px;             
      }
      .s_index_MonthlyEvents_choiceArea_PC {
        display: none;
      }

      .s_index_MonthlyEvents_choiceArea_ph {
        width: 360px;
        margin: 50px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }

      .s_index_choiceArea_ph {
        margin: 15px 10px;
      }

      .s_index_higher {
        margin-top: -40px;
      }

      .s_index_lower {
        margin-top: 70px;
      }

      .s_index_choiceAreaImg_ph {
        /* height:155px; */
        width: 155px;
        border-radius: 10px 10px 0 0;
        margin: 0;
      }

      .s_index_choice_ph {
        font-size: 14px;
        color: var(--maindarkgray);
        background-color:var(--mainyellow);
        border-radius: 0 0 10px 10px;
        height:80px;
        width: 155px;
        padding: 30px 8px ;
        margin: -10px 0;
      }
/*-----------每月主打介紹--------*/
.s_index_MonthlyEvents_intro{
margin: 180px auto;
width: 350px;
}
.s_index_MonthlyEvents_intro_row{
display:flex;
flex-direction:row;
color:var(--mainblue) ;
}
.s_index_MonthlyEvents_introLeft{
  display: flex;
  flex-direction: column; 
  /* margin-top: 120px;  */
}
.s_dogShow{
/* order: 1; */
margin: -100px 0 0 -150px;
 
}
.s_index_MonthlyEvents_intro_miniTitle{
  font-size: 16px; 
  /* order: 2; */
  margin-bottom: 30px;
  margin-left: 50px;
}
.s_index_MonthlyEvents_intro_ColumnPara{
  font-size: 14px;
  width: 250px;
  margin: 0 50px;
  /* order: 3;   */
}
.s_index_MonthlyEvents_introRight img {
  width:150px;
}

.s_hidden{
  display: none;
}
/*-----------專欄------------*/

      .s_index_columnBtnGroup {
        text-align: center;
        /* margin: 35px 0 90px; */
      }

      .s_index_columnBlueBtn {
        height: 35px;
        width: 135px;
        border: 0;
        background-color: #ffffff;
        color: var(--mainblue);
        border-radius: 40px;
        font-size: 14px;
      }

      .s_index_column_index_dogArea {
        flex-direction: column;
        margin: 0 0 100px;
      }

      .s_index_column_index_dog {
        margin: 50px auto 0;
      }

      .s_index_column_index_dog_img {
        width: 300px;
        border-radius: 20px;
      }

      .s_index_column_index_dog_para {
        width: 300px;
        margin: 10px auto;
        color: var(--maindarkgray);
        font-size: 14px;
      }

/* ------------捐贈--------- */
      .s_index_donation_imgIntro {
        display: flex;
        flex-direction: column;
        margin: 50px auto;
      }

      .s_index_donation_img {
        width: 100%;
        /* height: auto; */
        height: 240px;
        object-fit: cover;
        /* width:100%;  */
      }

      .s_index_donation_Intro {
        /* width: 375px; */
        max-width: 100%;
        height: auto;
        background-color:#70707093;
        color: #F7F4EE;
      }

      .s_index_donation_IntroAll {
        display: flex;
        flex-direction: row;
      }

      .s_index_donation_Intro_title {
        font-size: 35px;
        margin: 15px 0 0 20px;
      }

      .s_index_donation_Intro_para {
        width:250px;
        font-size: 16px;
        /* margin: 20px 0 0 24px; */
        margin: 20px auto;
      }

      .s_index_donation_Intro_btn_PC {
        display: none;
      }

      .s_index_donation_Intro_btn_ph {
        display: inline-block;
        width: 142px;
        height: 35px;
        border-radius: 17px;
        background-color: #ffffff;
        font-size: 16px;
        border: 0;
        color: var(--maindarkgray);
        margin: 10px 0 26px 130px;
      }
    }